body {
  line-height: 1;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-family: futura;
  margin: 0 auto;
}
.top-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px 60px 20px 10px;
  flex-wrap: wrap;
  border-radius: 20px;
  font-size: 40px;
  padding-left: 20px;
  color: #0074d9;
  font-weight: 800;
}
.banner {
  display: flex;
}
.heading {
  width: 420px;
  margin-right: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.sub-header {
  display: flex;
}
.search-heading {
  font-size: 40px;
  color: #0074d9;
  font-weight: 800;
  margin: 0;
  margin-top: 20px;
}
#display-holder {
  display: flex;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px 100px 20px 100px;
  flex-wrap: wrap;
  border-radius: 20px;
  padding-left: 20px;
  font-weight: 600;
  flex-basis: 1000px;
}
.bottom-section {
  margin-left: 30px;
}
#movie-form, #movie-form-2 {
  margin-top: 20px;
}
.movie-overview {
  font-size: 14px;
}
.movie-title {
  font-size: 14px;
  font-size: 12px;
  font-weight: 600;
  margin: 2px 0 1px 0;
}
i {
  padding: 2px;
  color:  #0373d9;
}
.movie-synopsis {
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0px 0px 10px;
}
input {
  display: flex;
  width: auto;
}
#display-2 {
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 150px;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* width: 500px; */
}
/* .not-watched {
  margin: 5px 0 15px 0;
} */
.search-card {
  margin: 5px 0 15px 0;
  width: 400px;
  border: 4px solid #0373d9;
  border-radius: 10px;
}
#display, .sub-header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  margin-left: 30px;
}
#display-a, #display-b, .sub-header {
  border: 4px solid #0373d9;
  border-radius: 10px;
  padding: 4px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 21px;
  align-content: flex-start;
}
#display-b {
  border-radius: 10px 0 10px 10px;
}
#display-a {
  border-radius: 0 10px 10px 10px;
}
.sub-header {
  background-color: #0373d9;
  color: white;
  border-radius: 10px 10px 0 0;
}

.movie-card {
  margin-top:10px;
  display: flex;
  flex-direction: column;
  flex-basis: 130px;
  margin-bottom: 5px;
  margin-left: 8px;

  border: solid 5px #ffb3005e;
  border-radius: 5px;
}
.movie-card:hover {
  opacity: .8;
}
img {
  width: 145px;
}
.poster-top {
  width: 80px;
}
.top-card {
  display: flex;
  padding: 2px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  /* position: absolute; */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-top: 10px;
  left: 0;
  top: 0;
  left: 500px;
  top: 10px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  width: 50%;
  width: 800px;
  height: 10%;
  height: 100px;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.466); /* Black w/ opacity */
  background-color: rgb(3 115 217 / 81%);
  color: white;
  text-align: left;
  border-radius: 8px;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.hideme {
  display:none;
}
.dim-me {
  opacity: .5;
}
