body {
  line-height: 1;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-family: futura;
  margin: 0 auto;
  background-color: #0074d9d9;
  background-color: #121213fa;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 50px;
  /* background-image: url("pexels-pixabay-33129.jpg"); */
}
.top-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px 60px 60px 10px;
  flex-wrap: wrap;
  border-radius: 20px;
  font-size: 40px;
  padding-left: 20px;
  color: #0074d9;
  font-weight: 400;
  /* background-color: white; */
}
.banner {
  display: flex;
}
.heading {
  width: 500px;
  /* margin-right: 80px; */
  margin-top: 0px;
  margin-bottom: 13px;
  font-size: 60px;
}
.banner-image {
  width: 380px;
  border-radius: 180px;
  margin-left: 50px;

}
.sub-header {
  display: flex;
}
.search-heading {
  font-size: 40px;
  color: #0074d9;
  font-weight: 800;
  margin: 0;
  margin-top: 30px;
}
#display-holder {
  display: flex;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px 100px 20px 100px;
  flex-wrap: wrap;
  border-radius: 20px;
  padding-left: 20px;
  font-weight: 600;
  flex-basis: 1000px;
}
.bottom-section {
  margin-left: 30px;
}
#movie-form, #movie-form-2 {
  margin-top: 20px;
}
.movie-overview {
  font-size: 16px;
  font-family: arial;
  color: #ffffffb8;
  padding: 2px;
}
.movie-title {
  font-size: 14px;
  font-size: 14px;
  font-weight: 600;
  /* font-family: Arial, Helvetica, sans-serif; */
  margin: 3px 0 3px 0;
}
.movie-title-top {
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
  color: #d2ccccfa;
}
i {
  padding: 2px;
  padding-left: 4px;
  font-size: 19px;
  color:  #0373d9;
}
.movie-synopsis {
  font-size: 19px;
  font-weight: 400;
  margin: 10px 0px 0px 10px;
  line-height: 1.6em;
}
input {
  display: flex;
  width: auto;
}
#display-2 {
  display: flex;
  font-size: 20px;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 150px;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* width: 500px; */
}
/* .not-watched {
  margin: 5px 0 15px 0;
} */
.search-card {
  /* margin: 5px 3px 15px 3px;
  width: 250px;
  border: 4px solid #0373d9;
  border-radius: 10px;
  background-color: rgba(235, 231, 231, 0.933);
  height: 350px;
  overflow: scroll; */
  margin: 5px 7px 15px 7px;
  width: 300px;
  border: 4px solid #0373d9;
  border-radius: 10px;
  background-color: #14181c;
  height: 514px;
  overflow: scroll;
  color: #d2cfcf;

  /* color: white; */
}
.search-card img {
  width: 180px;
}
#display, .sub-header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  margin-left: 30px;
}
/* .subheader-div {
  margin-top: 40px;
} */

.display-a, .display-b, .sub-header {
  border: 4px solid #0373d9;
  border-radius: 10px;
  padding: 4px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 21px;
  align-content: flex-start;
  background-color: #efececf2;
  background-color: #0277bd;
  background-color: #0277bd40;
}
.display-b {
  border-radius: 10px 0 10px 10px;
}
.display-a {
  border-radius: 0 10px 10px 10px;
}
.sub-header {
  background-color: #0373d9;
  color: white;
  border-radius: 10px 10px 0 0;
}

.movie-card {
  margin-top:10px;
  display: flex;
  flex-direction: column;
  flex-basis: 130px;
  margin-bottom: 5px;
  margin-left: 6px;
  margin-right: 6px;

  border: solid 5px #1d1c1ca1;
  border-radius: 5px;
  background-color: #121213f2;
  color:  #f0e7e7d4;

}
.movie-card:hover {
  opacity: .8;
}
img {
  width: 160px;
}
.poster-top {
  width: 80px;
}
.top-card {
  display: flex;
  padding: 2px;
  flex-wrap: wrap;
}
.fas .fa {
  font-size: 18px;
}
.close-me {
  margin: 0;
  color: white;
  color: #0373d9;
  font-size: 25px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  /* position: absolute; */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-top: 10px;
  left: 0;
  top: 0;
  left: 1550px;
  top: 105px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  width: 50%;
  width: 650px;
  height: 10%;
  height: 300px;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.466); /* Black w/ opacity */
  background-color: rgb(3 115 217 / 21%);
  color: white;
  text-align: left;
  border-radius: 8px;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.hide-me {
  display:none;
}
.dim-me {
  opacity: .3;
}
